<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel input</title>
    <link rel="stylesheet" href="travel.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Register</h2>
            <form id="registerForm">
                <input type="text" placeholder="Name" name="name" required>
                <input type="text" placeholder="Date" name="date" required>
                <input type="text" placeholder="Source" name="source" required>
                <input type="text" placeholder="Destination" name="destination" required>
                <button type="submit">Register</button>
            </form>
        </div>
        
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const registerData = {
                name: formData.get('name'),
                date: formData.get('date'),
                source: formData.get('source'),
                destination: formData.get('destination')
            };
            console.log(registerData);
            const response = await fetch('http://localhost:5500/travel/travels', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(registerData)
            });
            const data = await response.json();
            console.log(data);
        });

    </script>
</body>
</html>
